<div class="row">
<div class="col-md-8 col-md-offset-2">
<h1 style="background-color:#F2C83E; padding:10px">Contact Information & Hours of Operation</h1>

<table class="table table-striped">
  <tr style="background-color:#F1DC97;">
    <th>Hours</th>
    <th>Email</th>
    <th>Street location</th>
    <th>State location</th>
    <th>Phone number</th>
    <th>Holiday hours</th>
  </tr>

<% @contact_infos.each do |contact_info| %>
  <tr>
    <td><%= contact_info.hours %></td>
    <td><%= contact_info.email %></td>
    <td><%= contact_info.street_location %></td>
    <td><%= contact_info.state_location %></td>
    <td><%= contact_info.phone_number %></td>
    <td><%= contact_info.holiday_hours %></td>
  </tr>
<% end %>
</table>

<br />
</div>
</div>