<div class="google-maps">
	<iframe
  	width="600"
  	height="450"
  	frameborder="0" style="border:0"
  	src=<%=@gmapQuery%>>
	</iframe>
</div>

<div class="col-md-6">
	<br> <br>
	<h2> For Fresh Produce Deliveries and Main Entrance
	</h2>
</div>

<div class="col-md-6">
<a class="front" href=<%= "assets/outside2.jpg" %> data-lightbox="outside">
<img src=<%= "assets/outside2thumb.jpg" %>/>
</a>
</div>

<div class="col-md-6">
<a class="side" href=<%= "assets/outside1.jpg" %> data-lightbox="outside">
<img src=<%= "assets/outside1thumb.jpg" %>/>
</a>
</div>

<div class="col-md-6">
<br> <br>
	<h2> For All Other Deliveries/Donations
	</h2>
</div>
