<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @food_item.name %>
</p>

<p>
  <b>Fooditem:</b>
  <%= @food_item.foodItem_id %>
</p>

<p>
  <b>Needpriority:</b>
  <%= @food_item.needPriority %>
</p>


<%= link_to 'Edit', edit_food_item_path(@food_item) %> |
<%= link_to 'Back', food_items_path %>
