<% for i in 1..12 %>
<a href=<%= "assets/" + i.to_s + ".jpg" %>>Image</a>
<% end %>
<%= link_to (image_tag "1.jpg", :size => "260x180"), image_path("1.jpg"), :class => "fancybox" %>
<%= link_to (image_tag "2.jpg", :size => "260x180"), image_path("2.jpg"), :class => "fancybox" %>
<%= link_to (image_tag "3.jpg", :size => "260x180"), image_path("3.jpg"), :class => "fancybox" %>
<%= link_to (image_tag "4.jpg", :size => "260x180"), image_path("4.jpg"), :class => "fancybox" %>
<%= link_to (image_tag "5.jpg", :size => "260x180"), image_path("5.jpg"), :class => "fancybox" %>
<%= link_to (image_tag "6.jpg", :size => "180x180"), image_path("6.jpg"), :class => "fancybox" %>
<%= link_to (image_tag "7.jpg", :size => "260x180"), image_path("7.jpg"), :class => "fancybox" %>
<%= link_to (image_tag "8.jpg", :size => "260x180"), image_path("8.jpg"), :class => "fancybox" %>
<%= link_to (image_tag "9.jpg", :size => "260x180"), image_path("9.jpg"), :class => "fancybox" %>
<%= link_to (image_tag "10.jpg", :size => "260x180"), image_path("10.jpg"), :class => "fancybox" %>
<%= link_to (image_tag "11.jpg", :size => "260x180"), image_path("11.jpg"), :class => "fancybox" %>
<%= link_to (image_tag "12.jpg", :size => "260x180"), image_path("12.jpg"), :class => "fancybox" %>