<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @photo.id %>
</p>

<p>
  <b>Description:</b>
  <%= @photo.description %>
</p>

<p>
  <b>Date added:</b>
  <%= @photo.date_added %>
</p>

<p>
  <b>Title:</b>
  <%= @photo.title %>
</p>


<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
