<!DOCTYPE html>
<html>
<head>
  <title>Foodpantry</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
      <!-- Bootstrap core CSS -->
    <link href="/assets/stylesheets/bootstrap.css" rel="stylesheet">
</head>
<body>

<!-- HEADER -->

<!-- NAV -->

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="../">Poweshiek Food Pantry</a>  
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="http://www.micaonline.org/" target="_blank">MICA Online</a></li>
            <li><a href="food_items">Accepted Food</a></li>
            <li><a href="photos">Location</a></li>
            <li><a href="contact_infos">Contact</a></li>
            <li><a href="abouts">About Us</a></li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li><a href="admin">Admin Login</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>


<div class="container">
  <%= yield %>
</div>

<!-- Example row of columns -->
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <center>Thank you to the community for supporting our cause!</center>

</div>
</div>


<!-- FOOTER -->
<footer class="footer">
      <div class="container contactInfo">
      <div class="row">
      <div class="col-md-3">
      </div>
      <div class="col-md-6">
          <h2>CONTACT US!</h2>
          <p>Poweshiek Food Pantry<br/>
          611 4th Street<br/>
          Grinnll, IA 50112 <br/>
          641-236-3923 <br/> 
          <a href="mailto:info@micaonline.org?Subject=Hi Mica!">Email Us!</a>
          </p> 
      </div>
      <div class="col-md-3">
        <%= image_tag "micaLogo.png", :style => "display:inline; max-width:150px; -webkit-filter: brightness(10);" %>
      </div>
  </div>
</footer>

    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="/assets/javascripts/bootstrap.js"></script>
</body>
</html>
