<!DOCTYPE html>
<html>
<head>
  <title>Foodpantry</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
      <!-- Bootstrap core CSS -->
    <link href="/assets/stylesheets/bootstrap.css" rel="stylesheet">
</head>
<body>

<!-- HEADER -->

<!-- NAV -->

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="../"><%= image_tag "micaLogo.png", :style => "width:50px; height:50px; display:inline; margin-right:30px" %>MICA Food Pantry</a>  
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="http://www.micaonline.org/" target="_blank">MICA Online</a></li>
            <li><a href="food_items">Accepted Food</a></li>
            <li><a href="photos">Location</a></li>
            <li><a href="contact_infos">Contact</a></li>
            <li><a href="abouts">About Us</a></li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li><a href="admin">Admin Login</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

<div class="container">
  <%= yield %>
</div>

<!-- FOOTER -->
<footer class="footer">
      <div class="container contactInfo">
          <h2>CONTACT US!</h2>
          <p>Mid-Iowa Community Action, Inc. <br/>
          Administrative Offices <br/>
          1001 S. 18th Ave. <br/>
          Marshalltown, IA 50158 <br/>
          641-752-7162 <br/> 
          <a href="mailto:info@micaonline.org?Subject=Hi Mica!">Email Us!</a>
          </p> 
          </div>
      </div>
</footer>

    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="/assets/javascripts/bootstrap.js"></script>
</body>
</html>
